Xft.antialias: 1
Xft.hinting: 1
Xft.autohint: 1
Xft.hintstyle:	hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! window padding
st.borderpx: 25

Xcursor.theme: Catppuccin-Latte-Green-Cursors
Xcursor.size: 0

st.font: Recursive:size=16:style:antialias=true
st.alpha: 1.00
*.shell: /bin/zsh

tabbed.selbgcolor:   #282c34
tabbed.selfgcolor:   #d6d8eb

tabbed.normfgcolor:  #9294a8
tabbed.normbgcolor:  #353b45

#include "/home/sam/.Xresources.d/tokyonight.xresources"