/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Colors
 **/

* {
    background:     #4E5173;
    background-alt: #1A1B26;
    foreground:     #ACB0D0;
    selected:       #f14ABAAF;
    active:         #7AA2F7;
    urgent:         #E0AF68;
}
