/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Colors
 **/

* {
    background:     #1f2335FF;
    background-alt: #1A1B26FF;
    foreground:     #0db9d7FF;
    selected:       #ff9e64FF;
    active:         #7AA2F7FF;
    urgent:         #E0AF68FF;
}
